.App {
  padding: 7rem;
  text-align: center;
  /* background-image: url("https://images.prismic.io/queenslab/0d94da99-a6ee-4d3d-a2f8-4ed15152d1ef_QUEENSLAB_2019.png?auto=format%2Ccompress&rect=27%2C111%2C2473%2C1605&w=1851&h=1202&fit=max&q=50"); */
  background-image: url("https://sigarra.up.pt/fcup/en/noticias_geral.noticias_cont?p_id=F-1348973530/LogosEmpresasSIGARRa.png");
}

input {
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: "#495057";
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s;
}